body {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .content {
    flex: 1;     /* this is the key; consumes all available height */
    background: #8080ff;
    display: flex;
    justify-content: center;
    align-items: stretch;
  }
  header {
    height: 64px;
    background: #b3e6ff;
    text-align: center;
  }
  footer {
    height: 64px;
    background: #006699;
  }

  #text-div{
      background-color: white;
      flex-basis: 75%;

  }
  * {
    margin: 0;
  }