@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  body{
    background-color: rgba(255,202,194,.7);
  }

  h1{
    font-family: 'Marck Script', cursive;
    font-size: 65px;
  }
  
  .container {
    position: relative;
    width: 350px;
    margin: 50px auto;
    perspective: 1000px;
    padding-top: 120px;
  }

.rotator {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 30%;
    width: 65%;
    height: 200px;
    transform-style: preserve-3d;
    animation: roter 27s linear infinite;
  }
  .rotator:hover {
    animation-play-state: paused;
  }
  @keyframes roter {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }
  .items {
    position: absolute;
    height: 100%;
    width: 94%;
    margin-right: 1000px;
    overflow: hidden;
    border: 2px solid #333;
  }
  .items:hover img {
    transform: scale(1.2);
  }
  .items img {
    height: 100%;
    width: 100%;
    transition: all 3s ease;
  }
  
  .items:first-child {
    transform: rotateY(calc(40deg * 1)) translateZ(300px);
  }
  .items:nth-child(2) {
    transform: rotateY(calc(40deg * 2)) translateZ(300px);
  }
  .items:nth-child(3) {
    transform: rotateY(calc(40deg * 3)) translateZ(300px);
  }
  .items:nth-child(4) {
    transform: rotateY(calc(40deg * 4)) translateZ(300px);
  }
  .items:nth-child(5) {
    transform: rotateY(calc(40deg * 5)) translateZ(300px);
  }
  .items:nth-child(6) {
    transform: rotateY(calc(40deg * 6)) translateZ(300px);
  }
  .items:nth-child(7) {
    transform: rotateY(calc(40deg * 7)) translateZ(300px);
  }
  .items:nth-child(8) {
    transform: rotateY(calc(40deg * 8)) translateZ(300px);
  }

  .items:nth-child(9) {
    transform: rotateY(calc(40deg * 9)) translateZ(300px);
  }

  #instagram{
    position: relative;
    margin-top: 27%;
  }

  

.btn-21 {
  cursor: pointer;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: Marvel;
  font-size: 20pt;
  width: 250px;
  height: 45px;
  position: relative;
  color: blue;
  z-index: 1;
  transition: all 0.5s ease-in-out;
  border-radius: 0px;
  margin: 5px;
  background: transparent;
  padding: 0;
  overflow: hidden;
  border: none;
  margin-top: 15%;
}
.btn-21:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, transparent, #bbb);
  animation: btn-21-left 2s linear infinite;
  transition: 0.5s ease-in-out;
}
.btn-21:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to top, transparent, #bbb);
  animation: btn-21-top 2s linear infinite;
  animation-delay: 1s;
  transform: translateY(-100%);
}
.btn-21 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 6px;
}
.btn-21 span:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, transparent, #bbb);
  animation: btn-21-right 2s linear infinite;
}
.btn-21 span:before {
  content: "";
  position: absolute;
  top: 0px;
  right: 12px;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, transparent, #bbb);
  animation: btn-22-bottom 2s linear infinite;
  animation-delay: 1s;
  transform: translateY(-100%)
}
.btn-21:hover:before {
  background: linear-gradient(to left, transparent, red);
}
.btn-21:hover:after {
  background: linear-gradient(to top, transparent, red);
}
.btn-21 span:hover:before {
  background: linear-gradient(to bottom, transparent, red);
}
.btn-21 span:hover:after {
  background: linear-gradient(to right, transparent, red);
}
.btn-21:hover {
  color: red;
}
.btn-21:active:before {
  background: linear-gradient(to left, transparent, #00a7fc);
}
.btn-21:active:after {
  background: linear-gradient(to top, transparent, #00a7fc);
}
.btn-21 span:active:before {
  background: linear-gradient(to bottom, transparent, #00a7fc);
}
.btn-21 span:active:after {
  background: linear-gradient(to right, transparent, #00a7fc);
}
.btn-21:active {
  color: hsl(236, 100%, 50%);
}
@keyframes btn-21-top {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes btn-21-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes btn-21-bottom {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes btn-21-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

  